@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Smooch+Sans:wght@600&display=swap');

html {
    max-height: 100%;
    position: relative;
}

header {
    text-align:center;
    background-color:#d2f700;
    overflow: auto;
    width:100vw;
    font-family: Smooch Sans , sans-serif;
}

h2 {
    margin: 0;
    padding: 1px;
    line-height: 3;
}

body {
    font-family: Lora , sans-serif;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: 14px;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: fixed;
}