@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Smooch+Sans:wght@600&display=swap');

html {
    max-height: 100%;
    position: relative;
}

header {
    text-align:center;
    background-color:#d2f700;
    overflow: auto;
    width:100vw;
    font-family: Smooch Sans , sans-serif;
}

h2 {
    margin: 0;
    padding: 1px;
    line-height: 3;
}

body {
    font-family: Lora , sans-serif;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: 14px;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: fixed;
}

.game-area {
    background-color:#52D1DC;
    text-align: center;
    width: 100vw;
    overflow: auto;
    padding: 0px;
    margin: 0;
    height:100vh;   
}

.buttons {
    margin-top:10px;
}

.control {
    display: inline-block;
    color: #000;
    letter-spacing: 1px;
    margin: 3px;
    width: 90px;
    height: 40px;
    border-style: solid;
}

.control:hover {
    cursor: pointer;
    transform: translate3d(0px, -6px, 0px); 
    transition: all 0.50s;
}   

#rock {
    background-color:#3cff00;
}

#paper {
    background-color:#d3d618;
}

#scissors {
    background-color:#ff0000;
}

#result {
    height: 20px;
}

.score-board {
    border: 2px solid #000;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    font-family: Lora , sans-serif;
    position: relative;
}

.badge {
    color:#000;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 2px 10px;
    font-family: Lora , sans-serif;
}

#player-label {
    position:absolute;
    top: 20px;
    left: -25px;
    background: #70ee09;
}

#computer-label {
    position:absolute;
    top:20px;
    right:-40px;
    background: #ff7b00;
}

.player {
    margin-right: -5px;
    display: inline-block;
    background-color:#70ee09;
    width: 40vw;
    height:50%;
    position: relative;
}

.computer {
    margin-left: 0;
    display: inline-block;
    background-color:#ff7b00;
    width: 40vw;
    height: 50%;
    position:relative;    
}

img {
    width:17vw ;
    height:17vw ;       
}

#player-img {
    display: flex;
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);    

}
#computer-img {
    display:flex;
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#house-choice-img {
    visibility:hidden;
}

#user-choice-img {
    visibility: hidden;
}